body {
  background-color: rgb(253, 251, 251);
}

#cabecalho {
  position: fixed;
  top: 0;
}

p {
  font-family: sans-serif;
  font-size: 20px;
  color: rgb(63, 62, 62);
  line-height: 150%;
}

.lado-esquerdo {
  width: 350px;
  float: left;
}

.lado-direito {
  width: 350px;
  float: right;
}

table {
  clear: both;
  margin: 3px;
  padding: 5px;
  border: 1px solid black;
}
