body {
  background-color: rgb(253, 251, 251);
}

#cabecalho {
  position: fixed;
  top: 0;
}

article {
  float: left;
}

p {
  font-family: "Franklin Gothic Medium", Arial, sans-serif;
  font-size: 20px;
  color: rgb(63, 62, 62);
  line-height: 150%;
}

section {
  float: right;
}

table {
  margin: 3px;
  padding: 5px;
  border: 1px solid black;
}
